<div class="page-container">
  <!-- Título da seção -->
  <section class="page-header">
    <h1>Nossos serviços</h1>
    <p style="text-align: justify;">
      Conheça nossos serviços especializados na área agrícola e ambiental e como podemos ajudar sua
      empresa a se desenvolver de forma sustentável.
    </p>
  </section>

  <!-- Lista de serviços -->
  <section class="servicos-list">

    <!-- Licenciamento Verde -->
    <div class="servico-item">
      <img src="assets/icons/icon1.svg" alt="Licenciamento Verde" />
      <h3>Licenciamento Verde</h3>
      <p><em>(em todos os órgãos licenciadores: nível municipal, CETESB, IBAMA, entre outros)</em></p>
      <ul>
        <li>Projeto de autorização de supressão de vegetação</li>
        <li>Árvores isoladas (arborização urbana)</li>
        <li>Fragmentos florestais (remanescente de biomas)</li>
        <li>Projeto de intervenção em APP</li>
        <li>Projetos de compensações ambientais</li>
        <li>Acompanhamento/relatórios das compensações</li>
      </ul>
    </div>

    <!-- Licenciamento Azul -->
    <div class="servico-item">
      <img src="assets/icons/icon2.svg" alt="Licenciamento Azul" />
      <h3>Licenciamento Azul</h3>
      <p><em>(em todos os órgãos licenciadores: nível municipal, CETESB, IBAMA, entre outros)</em></p>
      <ul>
        <li>Elaboração de MCE para fontes de poluição (indústrias)</li>
        <li>Acompanhamento de condicionantes de licenças</li>
        <li>Renovação de licenças ambientais</li>
      </ul>
    </div>

    <!-- Licenciamento com Avaliação de Impacto Ambiental -->
    <div class="servico-item">
      <img src="assets/icons/icon3.svg" alt="Avaliação de Impacto Ambiental" />
      <h3>Licenciamento com Avaliação de Impacto Ambiental</h3>
      <ul>
        <li>Obras ou empreendimentos que necessitam de estudo de impacto ambiental, onde a modalidade do licenciamento é nos moldes de EIA/RIMA, RAP ou EAS</li>
      </ul>
    </div>

    <!-- Licenciamento de Empreendimentos -->
    <div class="servico-item">
      <img src="assets/icons/icon4.svg" alt="Empreendimentos" />
      <h3>Licenciamento de Empreendimentos</h3>
      <ul>
        <li>Residenciais: loteamentos e condomínios (GRAPHOHAB)</li>
        <li>Industriais: condomínio de industriais, galpões logísticos, parques tecnológicos, etc (CETESB)</li>
        <li>EIV e RIT</li>
      </ul>
    </div>

    <!-- Assessoria técnica -->
    <div class="servico-item">
      <img src="assets/icons/icon5.svg" alt="Assessoria Técnica" />
      <h3>Assessoria Técnica</h3>
      <p>Atendimento e suporte especializado para entes públicos.</p>
    </div>

    <!-- Sensoriamento Remoto -->
    <div class="servico-item">
      <img src="assets/icons/icon6.svg" alt="Sensoriamento Remoto" />
      <h3>Serviços de Sensoriamento Remoto</h3>
      <ul>
        <li>Imageamento com drone</li>
        <li>Aquisição de imagens de satélite</li>
        <li>Monitoramento ambiental e agrícola</li>
      </ul>
    </div>

    <!-- Topografia -->
    <div class="servico-item">
      <img src="assets/icons/icon7.svg" alt="Topografia" />
      <h3>Serviços de Topografia</h3>
      <ul>
        <li>Levantamento topográfico com estação total</li>
        <li>Levantamento topográfico com drone e RTK</li>
        <li>Revisão de áreas (matrículas)</li>
        <li>Georreferenciamento de imóveis</li>
        <li>Desdobro, unificação e parcelamento de áreas</li>
      </ul>
    </div>

    <!-- Geoprocessamento -->
    <div class="servico-item">
      <img src="assets/icons/icon8.svg" alt="Geoprocessamento" />
      <h3>Serviços de Geoprocessamento</h3>
      <ul>
        <li>Processamento de imagens (drone/satélite)</li>
        <li>Mapas temáticos para gestão</li>
        <li>Processamento de dados ambientais e agrícolas</li>
        <li>Estatísticas e interpolações espaciais</li>
        <li>Implantação de banco de dados ambientais e agrícolas</li>
        <li>Desenvolvimento de sistemas para monitoramento e gestão dos dados</li>
        <li>Cursos e treinamentos</li>
      </ul>
    </div>

    <!-- Consultoria Agronômica -->
    <div class="servico-item">
      <img src="assets/icons/icon9.svg" alt="Consultoria Agronômica" />
      <h3>Consultoria Agronômica</h3>
      <ul>
        <li>Assessoria em grandes culturas (soja, milho, feijão)</li>
        <li>Fruticultura, agricultura de precisão, manejo do solo</li>
        <li>Avaliação de propriedades agrícolas com base em índice de gestão ambiental (IAC)</li>
        <li>Monitoramento da produção agrícola - mapeamento de falhas de plantio, eficiência na produção, mapeamento de pragas, produtividade</li>
        <li>Cursos e treinamentos</li>
      </ul>
    </div>

       <!-- Recursos Hídricos -->
    <div class="servico-item">
      <img src="assets/icons/icon10.svg" alt="Recursos Hídricos" />
      <h3>Serviços de Recursos Hídricos</h3>
      <ul>
        <li>Identificação e localização de nascentes</li>
        <li>Descaracterização de recurso hídrico junto ao IGC</li>
        <li>Descaracterização de APP junto a órgãos competentes</li>
        <li>Estudos hidrológicos e hidráulicos</li>
        <li>Solicitação de outorgas junto ao SP Águas</li>
      </ul>
    </div>

    <!-- Geologia -->
    <div class="servico-item">
      <img src="assets/icons/icon11.svg" alt="Geologia" />
      <h3>Serviços de Geologia</h3>
      <ul>
        <li>Mineração</li>
        <li>Geotecnia</li>
        <li>Áreas contaminadas (diagnóstico, planejamento e monitoramento)</li>
      </ul>
    </div>

    <!-- Treinamento e Cursos -->
    <div class="servico-item">
      <img src="assets/icons/icon12.svg" alt="Treinamentos" />
      <h3>Treinamentos e Cursos</h3>
      <ul>
        <li>Treinamento e desenvolvimento de equipes</li>
        <li>Oferta de cursos e capacitações</li>
      </ul>
    </div>

  </section>
</div>