<footer class="footer">
  <div class="footer-container">
    <!-- Coluna 1: Logo e descrição -->
    <div class="footer-left">
      <div class="footer-logo">
        <img src="assets/Logo Excelsior Variação.png" alt="Logo Atlas Florestal">
      </div>
      <p class="footer-description">Somos uma empresa focada na preservação ambiental e sustentabilidade.</p>
    </div>

    <!-- Coluna 2: Links de Navegação -->
    <div class="footer-middle">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contato</a></li>
      </ul> 
    </div>

    <!-- Coluna 3: Redes Sociais e Certificação -->
    <div class="footer-right">
      <div class="social-links">
        <!-- <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">Facebook</a> -->
        <a href="https://www.instagram.com/excelsiorambiental" target="_blank" class="social-icon instagram">Instagram</a>
        <!-- <a href="https://www.linkedin.com" target="_blank" class="social-icon linkedin">LinkedIn</a> -->
      </div>
      
    </div>
  </div>

  <!-- Rodapé inferior (ex: direitos autorais) -->
  <div class="footer-bottom">
    <p>© 2025 Excelsior | Todos os direitos reservados.</p>
  </div>
</footer>
