<div class="page-container">

  <!-- Título da seção -->
  <section class="page-header ">
    <h1>Entre em Contato</h1>
  </section>

  <!-- 
  <div class="contato-cards"> -->
  <!-- Formulário -->
  <!-- <div class="contato-card">
      <form>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="mensagem">Mensagem</label>
        <textarea id="mensagem" name="mensagem" rows="5" required></textarea>

        <button type="submit">Enviar</button>
      </form>
    </div> -->

  <!-- Informações -->
  <!-- <div class="contato-card contato-info">
      <h3>Informações de Contato</h3>
      <div class="info-item">
        <i class="fas fa-phone"></i>
        <span>(11) 99999-9999</span>
      </div>
      <div class="info-item">
        <i class="fas fa-envelope"></i>
        <span>contatoexemplo.com</span>
      </div>
      <div class="info-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>Rua Exemplo, 123 - São Paulo, SP</span>
      </div>
    </div>

  </div> -->

  <div class="contato-cards">
    <!-- Informações -->
    <div class="contato-card contato-info">
      <h3>Entre em Contato</h3>

      <!-- WhatsApp -->
      <a class="info-block" style="text-decoration: none;" href="https://wa.me/5519984157962" target="_blank">
        <i class="fab fa-whatsapp"></i>
        <div>
          <strong>WhatsApp</strong><br>
          <span>(19) 98415-7962</span>
        </div>
      </a>

      <!-- Telefone -->
      <div class="info-block">
        <i class="fas fa-phone"></i>
        <div>
          <strong>Ligações</strong><br>
          <span>(19) 98415-7962</span>
        </div>
      </div>

      <!-- Email -->
      <div class="info-block">
        <i class="fas fa-envelope"></i>
        <div>
          <strong>Email</strong><br>
          <span>queiroz.excelsior&#64;gmail.com</span>
        </div>
      </div>

            <!-- Instagram -->
      <a class="info-block" style="text-decoration: none;"  href="https://www.instagram.com/excelsiorambiental" target="_blank">
        <i class="fab fa-instagram"></i>
        <div>
          <strong>Siga-nos</strong><br>
          <span>&#64;excelsiorambiental</span>
        </div>
      </a>

    </div>
  </div>

</div>