<div class="page-container">
  <!-- Título da seção -->
  <section class="page-header">
    <h1>Conheça a Excelsior</h1>
  </section>

  <section class="history-section">
  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <p>Uma empresa que nasceu da parceria de três profissionais com orientação do pesquisador Afonso Peche Filho, na época que os profissionais atuavam sob sua tutoria para aperfeiçoamento técnico no IAC (Instituto Agronômico de Campinas).</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <p>A Excelsior iniciou sua trajetória trabalhando diretamente no meio agrícola, atuando na busca de ambientes de produção mais eficientes e sustentáveis, por meio de ferramentas de gestão ambiental, geoprocessamento e implantação do Índice de Gestão Ambiental (IGA) desenvolvido pelo IAC - pelas mãos do pesquisador Afonso e pelo grupo de profissionais.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <p>Somos responsáveis pelo início da implantação da fruticultura de clima temperado, no cerrado goiano, juntamente com o Eng. Agro. Theodoros e produtores rurais associados à revenda Brava Agronegócios.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <p>As atividades permaneceram até 2014 e tiveram seu hiato até 2025.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <p>Hoje a Excelsior está focada em oferecer serviços e soluções ambientais voltados para licenciamentos ambientais, consultoria ambiental e agrícola, serviços de cartografia e geoprocessamento, serviços voltados para os recursos hídricos, fauna, flora e monitoramento e gestão de dados ambientais e agrícolas.</p>
      </div>
    </div>

  </div>

  <div class="values-section">
    <div class="value-card">
      <h3>Valor</h3>
      <p>Respeitar todas as formas de vida.</p>
    </div>
    <div class="value-card">
      <h3>Missão</h3>
      <p>Conectar as pessoas e seus projetos aos princípios da sustentabilidade.</p>
    </div>
  </div>
</section>
</div>

